KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_PORT=9092
KAFKA_ORDERS_TOPIC=orders-topic
KAFKA_DLT_TOPIC=orders-dlt
KAFKA_ORDERS_PARTITIONS=3
KAFKA_DLT_PARTITIONS=1
KAFKA_CONSUMER_ENABLED=true
KAFKA_CONSUMER_GROUP=order-worker
KAFKA_PROCESSING_MAX_ATTEMPTS=3
KAFKA_PROCESSING_RETRY_DELAY=500ms

MONGODB_URI=mongodb://mongodb:27017/orders
MONGODB_PORT=27017

REDIS_HOST=redis
REDIS_PORT=6379
PRODUCT_CACHE_TTL=300s
CLIENT_CACHE_TTL=300s
ORDER_CURRENCY=COP

API_RETRY_MAX_ATTEMPTS=3
API_RETRY_WAIT=200ms
API_RESPONSE_TIMEOUT=3s
API_CIRCUIT_BREAKER_FAILURE_RATE=50
API_CIRCUIT_BREAKER_WINDOW_SIZE=10
API_CIRCUIT_BREAKER_OPEN_DURATION=30s

PRODUCTS_API_URL=http://products-api:8081
CLIENTS_API_URL=http://clients-api:8082

PRODUCTS_API_PORT=8081
CLIENTS_API_PORT=8082
ORDER_WORKER_PORT=8080
