KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_ORDERS_TOPIC=orders-topic
KAFKA_DLT_TOPIC=orders-dlt

MONGODB_URI=mongodb://mongodb:27017/orders

REDIS_HOST=redis
REDIS_PORT=6379
PRODUCT_CACHE_TTL=300s
CLIENT_CACHE_TTL=300s

PRODUCTS_API_URL=http://products-api:8081
CLIENTS_API_URL=http://clients-api:8082

PRODUCTS_API_PORT=8081
CLIENTS_API_PORT=8082
ORDER_WORKER_PORT=8080
